.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #eff0f2;  
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .Loginbox{
    display: flex;
    width:1000px;
    height: 540px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px black;
    border-radius: 10px; 
  }
  
  
  .login-leftside{
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #e8e8e8;
    background-image: 
    radial-gradient(ellipse farthest-corner at 0 140%, #5d9dff 0%, #2178ff 70%, #3585ff 70%);    
    font-family: 'sanspro';
    line-height: 70px;
    font-size: 30px;
    font-weight: 550;
    
  }
  
  .login-rightside{
    width: 50%; 
    border-radius: 0px 10px 10px 0px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222222;
    background: rgb(255,255,255);
  background: linear-gradient(287deg, rgba(255,255,255,1) 0%, rgba(243,244,244,1) 0%, rgba(255,255,255,1) 100%);
  }

.page-container {
    width: 100vw;
    height: 100vh;
    background-color: #eff0f2;  
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .Loginbox{
    display: flex;
    width:1000px;
    height: 540px;
    display: flex;
    flex-direction: row;
    box-shadow: 10px black;
    border-radius: 10px; 
  }
  
  
  .login-leftside{
    width: 50%;
    border-radius: 10px 0px 0px 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #e8e8e8;
    background-image: 
    radial-gradient(ellipse farthest-corner at 0 140%, #5d9dff 0%, #2178ff 70%, #3585ff 70%);    
    font-family: 'sanspro';
    line-height: 70px;
    font-size: 30px;
    font-weight: 550;
    
  }
  
  .login-rightside{
    width: 50%; 
    border-radius: 0px 10px 10px 0px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222222;
    background: rgb(255,255,255);
  background: linear-gradient(287deg, rgba(255,255,255,1) 0%, rgba(243,244,244,1) 0%, rgba(255,255,255,1) 100%);
  }